<%= render "shared/header" %>

<div class='margin'>

  <%# 質問一覧 %>
  <div class='question-contents'>
    <div class='title'>質問一覧</div> 
    <%# 部分テンプレートで質問投稿一覧を表示する %>
    <%= render partial: 'question', collection: @questions %>
  </div>

</div>
<%= render "shared/question-btn" %>

<%= render "shared/footer" %>