.footer {
  width: 100vw;
  padding: 0 0 1vh 0;
  color: #FFF;
  background-color: #8D808F;
  text-align: center;
}

.footer-image {
  width: 100%;
  padding: 0 0 5vh 0;
}

.about-me {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: 5vh 0;
}

.portfolio {
  margin: 0 20vw;
  display: flex;
  justify-content: space-around;
}

.footer-contents ul {
  list-style: none;
}

.footer-left {
  width: 50%;
  text-align: center;
}

.footer-right {
  width: 50%;
  text-align: center;
}

.wyvez-details {
  margin: 0 4vw;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
}

.footer-link:hover {
  text-decoration: none;
}

.logo {
  width: 25vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}