* {
  box-sizing: border-box;
}

.top-header {
  width: 100vw;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index:2;
  padding:5px;
  border-bottom: #4b4b4b solid 1px;
  background: #FF9CEC;
}

.header-margin {
  margin: 0px 100px;
  display: flex;
}

.wyvez-logo {
  /* background-color: white; */
  width: 10vw;
  height: auto;
}

.wyvez-menu {
  /* background-color: white; */
  width: 90vw;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.menu-lists {
  display: flex;
}

.list {
  text-decoration: none;
  margin: 20px;
  color: #4b4b4b;
}

.user-info {
  background-color: #FF9CEC;
  color: white;
  position: relative;
  display: flex;
}

.user-menu {
  margin-top: 25px;
  position: absolute;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.user-image {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 300px;
  margin: auto;
}

.btn-group .button {
  background-color:#FF9CEC;
  border: none;
  color: #4b4b4b;
  padding: 30px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-group .button:hover {
  background-color: #ffb4ec;
}

.login-signup {
  margin-left: 813px;
}