.margin {
  margin-left: 100px;
  margin-right: 100px;
}

.home-top-image {
  position: relative;
  }

.home-top-image p {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 40px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0px;
  padding:20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-align: center;
  }

.home-top-image img {
  width: 100%;
  }

.about-wyvez h1 {
  font-size: 50px;
}

.function-contents {
  margin-top: 100px;
}

.title {
  font-size: 30px;
}

.list h3 {
  border-left: 10px solid #8CCF81;
  color: black;
  font-size: 20px;
}

.function-list-description {
  margin: 5px 20px 0px 20px;
}

.purpose {
  margin-top: 100px;
}

.purpose-list-description {
  margin: 0px 40px 0px 40px;
  font-size: 16px;
}

.emphasize-text {
  margin: 0px 40px 0px 40px;
  display:inline-block;
  font-size: 20px;
  border-bottom: 1px solid #ED82FF;
}