.size-twenty-four {
  font-size: 24px;
}

.question-form {
  margin: 50px 50px; 
  padding: 40px;
  width: 90%;
  background: white;
  border-top: solid 5px #8D808F;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.indispensable {
  background-color: #8CCF81;
  margin-left: 6px;
  padding: 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: white;
  padding-left: 20px;
}

.title-input {
  padding: 0px 20px;
}

.text-text {
  width: 100%;
  padding: 0px 20px;
}